*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family: Barlow, Arial, Helvetica, sans-serif;
}

// Variablen
$navbar-bg-color: #009ee0;
$link-color: white;
$link-hover-bg: #111;
$logo-height: 120px;
$link-padding: 14px 16px;
$spacing: 20px;
$main-width: 1240px;

// Grundstil für die Navigation
header,
.blue-banner {
  background-color: $navbar-bg-color;
  padding: 30px;
  height: 140px;
  align-items: center;
  display: flex;
  justify-content: center;

  .blue-banner_title {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 7vw; /* Passt die Schriftgröße relativ zur Bildschirmbreite an */
    display: block; /* Falls der Text als Block dargestellt werden soll */
    text-align: center; /* Zentriert den Text innerhalb des a-Elements */

    @media (min-width: 690px) {
      font-size: 60px; /* Fixiere die Schriftgröße bei größeren Bildschirmen */
    }
  }

  .main {
    width: $main-width;
    display: flex;
    justify-content: space-between;
    align-items: center;

    // Stil für das Logo
    .logo {
      img {
        height: $logo-height;
        align-self: left;
      }
    }

    nav {
      // Stil für die Liste
      div {
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          display: flex;

          // Stil für die Listenelemente
          li {
            margin-right: $spacing;
            margin-left: $spacing;

            // Stil für die Links
            a {
              display: block;
              color: $link-color;
              transition: color 0.5s ease;
              text-align: center;
              text-decoration: none;
              font-size: 19px;
              text-transform: uppercase;

              // Hover-Effekt
              &:hover {
                color: $link-hover-bg;
              }
            }
          }
        }
      }
    }
  }
}

/* Hero Section Styling */
.hero {
  position: relative;
  text-align: center;
  height: 562px;
  overflow: hidden;

  img {
    width: 100%;
    height: 562px;
    object-fit: cover;
    object-position: center;
    display: block;
  }
}

.newsletter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.6);
  padding: 20px;
  border-radius: 5px;

  input[type="email"] {
    border-radius: 0px;
    margin-right: 10px;
    border: none;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  button {
    @media (max-width: 768px) {
      flex-direction: column;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

/* infos Section */

.info-container {
  display: flex;
  justify-content: center;
  margin-top: 80px;

  .infos-main {
    grid-template-columns: 1fr;
  }

  .infos {
    grid-template-columns: 1fr 1fr;
  }

  .infos-small {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .infos,
  .infos-small,
  .infos-main {
    display: grid;
    gap: 10px;
    justify-content: center;
    margin: 20px;
    width: $main-width;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      margin: 0px;
      width: 100%;
    }

    .info {
      margin: 0 10px;
      text-align: center;

      .title {
        font-weight: bold;
        text-align: left;
      }

      img {
        width: 100%;
        height: auto;
      }

      p {
        text-align: justify;
        margin-top: 10px;
      }
    }
  }
}

.center-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.button-row {
  width: $main-width;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 60px;
  }
}

.red-button {
  margin: 10px 20px;
  background-color: #d50f20;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  height: 55px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  display: flex; /* Flexbox-Layout für das Zentrieren */
  justify-content: center; /* Horizontales Zentrieren */
  align-items: center; /* Vertikales Zentrieren */

  &:hover {
    background-color: darkred;
    text-decoration: none; /* Entfernt die Standard-Linkunterstreichung */
    color: white;
  }
}

.navbar-toggler {
  border: 1px solid #fff;
  background-color: $navbar-bg-color;
  .navbar-toggler-icon {
    background-image: none;
  }
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #003b63; /* Hintergrundfarbe für den Footer */
  padding: 20px 0; /* Abstand im Footer */

  .container {
    text-align: center;
    color: #fff;
  }
}

// Variables
$banner-bg-color: rgba(237, 237, 237, 0.9);
$button-bg-color: #d50f20;
$button-hover-color: darkred;
$button-text-color: white;
$text-color: black;

// Cookie Banner Styling
#cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $banner-bg-color;
  color: $text-color;
  padding: 8px;
  text-align: center;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin: 0;
    padding: 0;
  }

  #cookie-btn {
    background-color: $button-bg-color;
    color: $button-text-color;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;

    &:hover {
      background-color: $button-hover-color;
    }
  }
}

.responsive-image {
  max-width: 1240px; /* Maximale Breite des Bildes */
  width: 100%; /* Passt die Breite an den Bildschirm an */
  height: auto; /* Erhält das Seitenverhältnis des Bildes */
  display: block; /* Entfernt mögliche zusätzliche Abstände unter dem Bild */
  margin: 0 auto; /* Zentriert das Bild horizontal */
}
