*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family: Barlow, Arial, Helvetica, sans-serif;
}

// Variablen
$navbar-bg-color: #009ee0;
$link-color: white;
$link-hover-bg: #111;
$logo-height: 120px;
$link-padding: 14px 16px;
$spacing: 20px;

// Grundstil für die Navigation
header {
  background-color: $navbar-bg-color;
  padding: 30px;
  height: 140px;
  align-items: center;
  display: flex;
  justify-content: center;

  .main {
    width: 1240px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    // Stil für das Logo
    .logo {
      img {
        height: $logo-height;
        align-self: left;
      }
    }

    nav {
      // Stil für die Liste
      div {
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          display: flex;

          // Stil für die Listenelemente
          li {
            margin-right: $spacing;
            margin-left: $spacing;

            // Stil für die Links
            a {
              display: block;
              color: $link-color;
              transition: color 0.5s ease;
              text-align: center;
              text-decoration: none;
              font-size: 19px;
              text-transform: uppercase;

              // Hover-Effekt
              &:hover {
                color: $link-hover-bg;
              }
            }
          }
        }
      }
    }
  }
}

/* Hero Section Styling */
.hero {
  position: relative;
  text-align: center;
  height: 562px; 
  overflow: hidden;

  img {
    width: 100%;
    height: 562px;
    object-fit: cover; 
    object-position: center;
    display: block;
  }
}

.newsletter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 5px;

  input[type="email"] {
    border-radius: 5px;
    margin-right: 10px;
  }

  form {
    display: flex;
    flex-direction: column; /* Elemente untereinander anordnen */
    gap: 15px; /* Abstand zwischen den Elementen */
  }

  button {
    @media (max-width: 768px) {
      flex-direction: column; 
      margin-left: 0;
      margin-right: 0;
    }  
  }
}


/* infos Section */

.info-container {
  display: flex;
  justify-content: center;
  margin-top: 80px;

  .infos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-content: center;
    margin: 20px;
    width: 70%;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      margin: 0px;
      width: 100%;
    }  

    .info {
      margin: 0 10px;
      text-align: center;
    
      img {
        width: 100%;
        height: auto;
      }
    
      p {
        margin-top: 10px;
      }
    }
  }
}


.button-row {
  display: flex;
  flex-wrap: wrap; /* Ermöglicht das Umwickeln der Buttons auf kleineren Bildschirmen */
  justify-content: space-between; 
  margin-left: 25%; 
  margin-right: 25%;
  margin-top: 50px;

  button {
    flex: 1 1 auto; /* Ermöglicht den Buttons, sich gleichmäßig anzupassen */
    margin-left: 50px; 
    margin-right: 50px;
  }
  
  @media (max-width: 768px) { /* Anpassung für Bildschirme mit max. 768px Breite */
    flex-direction: column; /* Stellt sicher, dass die Buttons untereinander angeordnet sind */
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 60px;
  }
}

.red-button {
  flex: 1; 
  margin: 20px 100px; 
  background-color: #d50f20; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  padding: 10px 20px;
  font-size: 16px;
  height: 55px;
  font-size: 18px;
  text-transform: uppercase;

  &:hover {
    background-color: darkred;
  }
}

.navbar-toggler {
  border: 1px solid #fff; 
  background-color: $navbar-bg-color; 
  .navbar-toggler-icon {
    background-image: none;
  }
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #003B63; /* Hintergrundfarbe für den Footer */
  padding: 20px 0; /* Abstand im Footer */
  
  .container {
    text-align: center;
    color: #fff;
  }
}