*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family: Barlow, Arial, Helvetica, sans-serif;
}

// Variablen
$navbar-bg-color: #009ee0;
$link-color: white;
$link-hover-bg: #111;
$logo-height: 120px;
$link-padding: 14px 16px;
$spacing: 20px;

// Grundstil für die Navigation
header {
  background-color: $navbar-bg-color;
  padding: 30px;
  height: 140px;
  align-items: center;
  display: flex;
  justify-content: center;

  .main {
    width: 1240px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    // Stil für das Logo
    .logo {
      img {
        height: $logo-height;
        align-self: left;
      }
    }

    nav {
      // Stil für die Liste
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;

        // Stil für die Listenelemente
        li {
          margin-right: $spacing;
          margin-left: $spacing;

          // Stil für die Links
          a {
            display: block;
            color: $link-color;
            transition: color 0.5s ease;
            text-align: center;
            text-decoration: none;
            font-size: 19px;
            text-transform: uppercase;

            // Hover-Effekt
            &:hover {
              color: $link-hover-bg;
            }
          }
        }
      }
    }
  }
}

/* Hero Section Styling */
.hero {
  position: relative;
  text-align: center;

  img {
    width: 100%;
    height: 562px;
    object-fit: cover; /* Bild wird so skaliert, dass es passt, aber ggf. zugeschnitten */
    object-position: center; /* Zentrum des Bildes bleibt im Fokus */
  }
}

.newsletter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 5px;

  input[type="email"] {
    padding: 10px;
    margin-right: 10px;
  }

  button {
    padding: 10px 20px;
    background-color: #d30c0f;
    color: white;
    border: none;
    cursor: pointer;
  }
}

/* Actions Section */
.actions {
  text-align: center;
  margin: 20px 0;

  button {
    background-color: #d30c0f;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
  }
}

/* Leaders Section */
.leaders {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.leader {
  margin: 0 10px;
  text-align: center;

  img {
    width: 150px;
    height: auto;
    border-radius: 50%;
  }

  p {
    margin-top: 10px;
  }
}

.button-row {
  display: flex;
  justify-content: space-between; /* Verteilt die Buttons gleichmäßig */
  margin-left: 200px; /* Abstand links und rechts vom Container */
  margin-right: 200px;
  margin-top: 20px;

  button {
    flex: 1; /* Lässt alle Buttons gleichmäßig wachsen */
    margin: 0 100px; /* Abstände zwischen den Buttons */
    background-color: #d50f20; /* Roter Hintergrund */
    color: white; /* Weiße Schrift */
    border: none; /* Entfernt den Standardrahmen */
    border-radius: 5px; /* Runde Kanten (25px) */
    padding: 10px 20px; /* Innenabstand für bessere Lesbarkeit */
    font-size: 16px; /* Schriftgröße */
    height: 55px;
    font-size: 18px;
    text-transform: uppercase;

    &:hover {
      background-color: darkred;
    }
  }
}
